src/main/mule/library_management_apis.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="library_management_apis-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="library_management_apis-config" api="library_management_apis.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="64da2eac-fece-4787-a175-4222e7ebdda3" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="library_management" />
	</db:config>
	<flow name="library_management_apis-main">
        <http:listener config-ref="library_management_apis-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="library_management_apis-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="library_management_apis-console">
        <http:listener config-ref="library_management_apis-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="library_management_apis-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\updateItem:library_management_apis-config">
        <logger level="INFO" message="#[attributes.queryParams]" />
		<db:update doc:name="Update" doc:id="5c9cb6f5-c04c-4b78-913f-f40877207087" config-ref="Database_Config">
			<db:sql ><![CDATA[update book set title= :title, quantity = :quantity where id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   "id": attributes.queryParams.id,
   "title": attributes.queryParams.title,
   "quantity": attributes.queryParams.quantity
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="22eadb1d-c1ea-475e-a28b-68c21aa0955f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\deleteById:library_management_apis-config">
        <db:delete doc:name="Delete" doc:id="299c19a4-4adf-4bc0-85e4-3f3914d9b9c4" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from book where id= :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" message="delete:\deleteById:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="e2b9a07d-c16f-42e4-b021-72a5dafca17c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\displayAll:library_management_apis-config">
        <db:select doc:name="Select" doc:id="eb4385e4-3ac6-459e-8602-2358db43f21c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from book]]></db:sql>
		</db:select>
		<logger level="INFO" message="get:\displayAll:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="851576c2-abc7-49f1-82ab-ec5bdad95e96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\selectById:library_management_apis-config">
        <db:select doc:name="Select" doc:id="05a6c62f-0534-4d66-a82a-2ead78da054f" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from book where id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" message="get:\selectById:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="f2c888c9-5651-4528-b7c0-1436613d01ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\selectByTitle:library_management_apis-config">
        <db:select doc:name="Select" doc:id="320ec622-6ea4-4ac1-ab92-d78007cd2c7f" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from book where title = :title]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	title: attributes.queryParams.title
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" message="get:\selectByTitle:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="b521a0b1-d2a6-4510-a2df-1a16a4d436ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\selectByquantity:library_management_apis-config">
        <logger level="INFO" message="#[payload]" />
		<db:select doc:name="Select" doc:id="27896828-c8de-48af-ae5e-9b4195837bc1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from book where quantity = :quantity]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	quanity: attributes.queryParams.quantity
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cd58e177-8ef8-4a2f-b9ec-8c0150a2a43d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\sortById:library_management_apis-config">
        <db:select doc:name="Select" doc:id="990fb176-871f-42ca-af68-a95e1b98f64f" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM book
ORDER BY id;]]></db:sql>
		</db:select>
		<logger level="INFO" message="get:\sortById:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="e2033949-79f7-4040-9038-04aa359137f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\sortByQuantity:library_management_apis-config">
        <db:select doc:name="Select" doc:id="b8e986c7-d93d-42ce-be1a-1b57195ce6f3" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM book
ORDER BY quantity;]]></db:sql>
		</db:select>
		<logger level="INFO" message="get:\sortByQuantity:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="b633ebc3-fe74-4132-ae72-6faa2052b362" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\sortByTitle:library_management_apis-config">
        <db:select doc:name="Select" doc:id="410e9002-612e-48ae-a40f-1b6541fbb0ff" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM book
ORDER BY title;]]></db:sql>
		</db:select>
		<logger level="INFO" message="get:\sortByTitle:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="f1f2c140-4a8e-441a-925e-49e0c6980d0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\addItem:library_management_apis-config">
		<db:insert doc:name="Insert" doc:id="4aec1afd-ac2d-4d84-a289-990cd3c19e2f" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO book (id, title, quantity) VALUES (:id, :title, :quantity);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   "id": attributes.queryParams.id,
   "title": attributes.queryParams.title,
   "quantity": attributes.queryParams.quantity
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" message="post:\addItem:library_management_apis-config" />
		<ee:transform doc:name="Transform Message" doc:id="b5d4f3bf-e8e8-4846-8bd5-a7769bf35119" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
